<mat-form-field appearance="fill">
  <mat-label>Search</mat-label>
  <input
    type="text"
    matInput
    [formControl]="store.searchControl"
    placeholder="write a search word"
  />
</mat-form-field>
<section class="flex flex-col">
  <section class="flex gap-3 items-center">
    <button
      [disabled]="store.page() === 1"
      [class.bg-gray-400]="store.page() === 1"
      class="text-xl border rounded-md p-3"
      (click)="store.previousPage$.next()"
    >
      <
    </button>
    <button
      [disabled]="store.endOfPages()"
      [class.bg-gray-400]="store.endOfPages()"
      class="text-xl border rounded-md p-3"
      (click)="store.nextPage$.next()"
    >
      >
    </button>
    Page :{{ store.page() }} /
    {{ store.pages() }}
  </section>
  @if (store.loading()) {
    <mat-progress-bar mode="query" class="mt-5"></mat-progress-bar>
  }
  <mat-list>
    @for (bookmark of store.bookmarks(); track bookmark.id) {
      <mat-list-item>
        <mat-icon matListItemIcon>bookmark</mat-icon>
        <div matListItemTitle>{{ bookmark.name }}</div>
        <div matListItemLine>{{ bookmark.created | date }}</div>
        <div matListItemLine class="actions">
          <a [href]="bookmark.url">
            {{ bookmark.url }}
          </a>
          <a [routerLink]="['/edit', bookmark.id]">
            <mat-icon>edit</mat-icon>
          </a>
        </div>
      </mat-list-item>
    } @empty {
      <div>No bookmarks found. Type a search word.</div>
    }
  </mat-list>
  <footer class="text-red-500">
    {{ store.error() }}
  </footer>
</section>
