<mat-list *ngIf="bookmarkService.filterText;else groupedBookmarks">
  <h3 mat-subheader>Results for <em>{{bookmarkService.filterText}}</em></h3>
  <mat-list-item *ngFor="let bookmark of allBookmarks | fuzzy: bookmarkService.filterText">
    <mat-icon mat-list-icon>bookmark</mat-icon>
    <h4 mat-line>{{bookmark.name}}</h4>
    <a [href]="bookmark.url" target="_blank" rel="noopener noreferrer">
      <mat-icon mat-list-icon>{{bookmark.url}}</mat-icon>
    </a>
    <a [routerLink]="['/edit',bookmark.id]">
      <mat-icon mat-icon-list>edit</mat-icon>
    </a>
  </mat-list-item>
</mat-list>

<ng-template #groupedBookmarks>
  <mat-list>
    <!-- today -->
    <h3 mat-subheader>Today</h3>
    <mat-list-item *ngFor="let bookmark of todaysBookmarks">
      <mat-icon mat-list-icon>bookmark</mat-icon>
      <h4 mat-line>{{bookmark.name}}</h4>
      <a [href]="bookmark.url" target="_blank" rel="noopener noreferrer">
        <mat-icon mat-list-icon>{{bookmark.url}}</mat-icon>
      </a>
      <a [routerLink]="['/edit',bookmark.id]">
        <mat-icon mat-icon-list>edit</mat-icon>
      </a>
    </mat-list-item>
    <!-- yesterday -->
    <h3 mat-subheader>Yesterday</h3>
    <mat-list-item *ngFor="let bookmark of yesterdaysBookmarks">
      <mat-icon mat-list-icon>bookmark</mat-icon>
      <h4 mat-line>{{bookmark.name}}</h4>
      <a [href]="bookmark.url" target="_blank" rel="noopener noreferrer">
        <mat-icon mat-list-icon>{{bookmark.url}}</mat-icon>
      </a>
      <a [routerLink]="['/edit',bookmark.id]">
        <mat-icon mat-icon-list>edit</mat-icon>
      </a>
    </mat-list-item>

    <!-- Older -->
    <h3 mat-subheader>Older</h3>
    <mat-list-item *ngFor="let bookmark of olderBookmarks">
      <mat-icon mat-list-icon>bookmark</mat-icon>
      <h4 mat-line>{{bookmark.name}}</h4>
      <a [href]="bookmark.url" target="_blank" rel="noopener noreferrer">
        <mat-icon mat-list-icon>{{bookmark.url}}</mat-icon>
      </a>
      <a [routerLink]="['/edit',bookmark.id]">
        <mat-icon mat-icon-list>edit</mat-icon>
      </a>
    </mat-list-item>
  </mat-list>
</ng-template>
